%a#about
.about
  .content
    .description

      :markdown
        I'm a self-taught multi-disciplinary designer, firmly believing that design
        should be available at every stage of product development. That's why I've 
        been experimenting with all sorts of design and development for the last couple
        of years.

        I have working experience with branding, user experience and user interface
        design. I am familiar with writting Rails, Python and Node.js applications as 
        well as designing for iOS and Android devices. That experience lets me work side 
        by side with your development team making sure that design is available on
        every step of the process.
