.about
  .content
    .description
      :markdown
        I'm a self-taught digital product designer based in Berlin, firmly believing that
        design is a process, not something that you put on top of a ready-made app. That's
        why I've been dipping my toes into development world to be able to understand and
        help your developers deliver product that your clients will love.

        For the last couple of years I have been doing range of tasks - from interaction
        design to front-end web development - as well as working with Ruby on Rails and 
        Node.js. I can deliver anything your team needs - from concept sketches to pixel
        perfect mockups and ready-made HTML prototypes.
