.about
  .content
    .description
      :markdown
        I'm a self-taught user interface designer and developer, believing in
        making the world a better place with good design. I prototype and test
        early, I dwell on the details and I love what I do.


        For the last couple of years I have been doing range of tasks - from interaction
        design to front-end web development - as well as working with Ruby on Rails and 
        Node.js. I can deliver anything your team needs - from concept sketches to pixel
        perfect mockups and ready-made HTML prototypes.
