%a#about
.about
  .content
    .description
      %p
        I have been working as a freelance interactive designer as well as
        various kinds of developer since 2004, since 2007 as an in-house
        designer for a couple of different studios and start-ups.
    
      %p
        I have been doing branding, interaction and user interface design,
        and I have been working with PHP, Ruby on Rails, Node.js and 
        Python/Django. Deep understanding of development process lets
        me work side by side with developers to build the product that
        your users will love.

