.about
  .content
    .description.wow.fadeInUp
      :markdown
        I'm a self-taught digital product designer based in Berlin, firmly believing that
        design is first and foremost about visual problem solving. This is why I dedicated
        my career to working closely alongside great companies, making sure we deliver
        delight to the customers at every step of their interaction with their brand and
        product.

        I will work closely with your team, your customers and your stakeholders 
        to make sure that we deliver exactly what they need, while keeping an eye
        on your business goals & objectives.

        If this sounds exciting, [get in touch](/contact.html).
