%a#about
.about
  .content
    .description

      :markdown
        Hello, my name is Mariusz and I'm a web & mobile interactive designer and 
        front-end web developer. I have been around for a while and I worked with
        variety of clients - from startups to corporations and governments.

        I have working experience with logo design, interaction and user interface 
        design and front-end web development and I have been working with PHP, Rails, 
        Django, Node.js, iOS and Android apps. I understand the development process, 
        so I can work side by side with your developers to deliver products that your 
        customers will love.
