.skills
  .skills-wrapper
    %header.skills-header
      %h3 Skills

    %ul.skills-list
      %li 
        UX & UI design
      %li 
        Web design & development
      %li
        Mobile & responsive design
      %li 
        Motion design for UI
      %li
        Product management
      %li 
        Brand strategy
      %li
        Logo design
      %li
        Corporate identity
      %li 
        Brand style guides & pattern libraries
      %li
        Leading design teams