.work.anynines
  .wrap
    %header
      %h2
        = image_tag "work/anynines/header-logo.png", alt: "Anynines"
    
    %p.text.description
      Anynines is an idea to create a simple, developer-friendly cloud hosting for web applications
      in Europe. It's a venture of Avarteq GmbH, the people behind Enterprise Rails hosting
      service. They approached me looking for simple yet effective logo and web design for
      their application.

    %p.sketch
      = image_tag "work/anynines/sketch-1.jpg", alt: "Anynines: Early logo sketches"

    %p.screenshot.centered
      = image_tag "work/anynines/screenshot-1.png", alt: "Anynines: Screenshot"

    %p.see-live
      = link_to "See it live", "http://anynines.com", target: "_blank", class: "button"
