.projects
  .section-header
    %h2 Case studies

  .project-wrapper
    - blog.articles[0...5].each do |article|
      %article{class: "project project--#{article.title.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '')}"}
        = link_to article.url do
          %h1.project-title= article.title
          %p.project-meta= article.data[:blurb].to_s
