.testimonials
  .page
    .testimonials-header
      %h2 See what others are saying

    .testimonials-slider#testimonials_slider
      .testimonials-person
        .testimonials-person-content
          %blockquote
            Mariusz was an important asset for our big redesign. His code skills makes him a great hybrid to work with. Extremely self-driven and effective, and takes decisions that are perfectly aligned with our product, which is, the single most important feature I look for in designers.
          .testimonials-person-meta
            Elin Aram, Lead Designer at XYO 
      .testimonials-person
        .testimonials-person-content
          %blockquote
            Mariusz is the best designer I've ever worked with. Period.
          .testimonials-person-meta
            Tomasz Stachewicz, CEO,
            = link_to "Rebased", "http://rebased.pl"
      .testimonials-person
        .testimonials-person-content
          %blockquote
            Mariusz has an incredibly knowledge–based approach to design, that helped me as a CTO to easily get behind the framework he built for everything from brand to product. Whenever I need to decide which design angle is best for us, Mariusz asks the right questions to get me there.
          .testimonials-person-meta
            Arvid E. Picciani, former CTO, 
            = link_to "airfy", "http://airfy.com"