@import "compass/css3/box-shadow";

.button,
input[type=submit],
button {
  @include transition(background-color .5s $easing);
  @include box-shadow(0 5px 0 darken($button-color, 10%));

  border-radius: .25em;
  background: $button-color;
  color: $off-white;
  padding: .5em 1em;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0,0,0,.25);
  word-wrap: nowrap;
  text-transform: uppercase;
  letter-spacing: .05em;

  -webkit-font-smoothing: antialiased; 

  &:hover {
    @include box-shadow(0 5px 0 $button-color);
    background: lighten($button-color, 5%);
    color: $off-white;
  }
}
