@import "compass/css3/box-shadow";

.button,
input[type=submit],
button {
  @include box-shadow(0 .25em 0 darken($button-color, 10%));
  @include transition(background-color .5s $easing);

  border-radius: .25em;
  background: $button-color;
  color: $off-white;
  padding: .5em 1em;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);

  -webkit-font-smoothing: antialiased; 

  &:hover {
    background: lighten($button-color, 5%);
    color: $off-white;
  }
}
