@import "compass/css3/box-shadow";

.button,
input[type=submit],
button {
  @include transition(background-color .5s $easing);
  @include box-shadow(0 5px 10px rgba(0,0,0,.2));

  border-radius: .125em;
  background: $button-color;
  color: $white;
  padding: .5em 1em;
  font-weight: bold;
  text-decoration: none;
  word-wrap: nowrap;
  text-transform: uppercase;
  letter-spacing: .05em;
  border: 0;

  -webkit-font-smoothing: antialiased; 

  &:hover {
    background: lighten($button-color, 10%);
    color: $white;
  }
}
