.button,
input[type=submit],
button {
  transition: background-color .5s $easing;
  border-radius: .125em;
  background: transparent;
  border: 1px solid $button-color;
  color: $button-color;
  padding: .5em 1em;
  font-weight: bold;
  text-decoration: none;
  word-wrap: nowrap;
  text-transform: uppercase;
  letter-spacing: .05em;

  -webkit-font-smoothing: antialiased; 

  &:hover {
    background: $button-color;
    border-color: $button-color;
    color: $white;
  }
}
