@import "compass/css3/transition";

a {
  @include transition(color .25s $easing);

  text-decoration: none;
  color: $brand-blue;

  &:hover {
    color: darken($brand-blue, 20%);
  }
}

.section-header {
  text-align: center;
  padding: 50px 0;

  h2 {
    font-size: 1.25em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: lighten($text-color, 20%);
  }
}
