@import "compass/css3/font-face";
@include font-face("icons", font-files("icons.ttf", ttf, "icons.woff", woff, "icons.svg#icons", svg), "icons.eot");

.icon {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;
  font-size: 16px;

  &.icon-twitter:before { content: "\0054"; }
  &.icon-pinterest:before { content: "\0031"; }
  &.icon-dribbble:before { content: "\0044"; }
  &.icon-gplus:before { content: "\002b"; }
  &.icon-app-net:before { content: "\00e1"; }
}
