// Vendor
@import "susy";
@import "modular-scale";
@import "vendor/animate";

// Mixins
@import "lib/image-2x";

// Config
@import "config/colors";
@import "config/fonts";
@import "config/settings";

// Global styles
@import "global/general";
@import "global/layout";
@import "global/icons";
@import "global/buttons";

// Component styles
@import "components/header";
@import "components/navigation";
@import "components/teaser";
@import "components/footer";
@import "components/dribbble";
@import "components/about";
@import "components/email";

// Page styles
@import "pages/work";
@import "pages/contact";
