// Vendor
@import "bourbon";
@import "neat";
@import "modular-scale";
@import "vendor/animate";
@import "flickity";

// Mixins
@import "lib/image-2x";

// Config
@import "config/colors";
@import "config/fonts";
@import "config/settings";

// Global styles
@import "global/layout";
@import "global/general";
@import "global/icons";
@import "global/buttons";

// Component styles
@import "components/header";
@import "components/navigation";
@import "components/teaser";
@import "components/footer";
@import "components/dribbble";
@import "components/about";
@import "components/email";
@import "components/testimonials";
@import "components/banner";

// Page styles
@import "pages/work";
@import "pages/contact";
@import "pages/projects";
