%footer{role: "footer"}
  %nav
    %ul
      %li
        = link_to "//twitter.com/dotmariusz" do
          %i.icon.icon-twitter
      %li
        = link_to "//dribbble.com/mariusz" do
          %i.icon.icon-dribbble
      %li
        = link_to "//pinterest.com/mariusz" do
          %i.icon.icon-pinterest

  %p
    &copy; 2013—2016 Mariusz Ciesla.
    %br/
    This site is open source. Want to see how it's built?  
    = link_to "See the source.", "https://github.com/mariusz/mariusz.cc"

  %p
    %a{href: "https://twitter.com/share", class: "twitter-share-button", data: { via: "dotmariusz" }} Tweet

    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
