%nav{role: "navigation"}
  %ul
    %li
      = link_to "About", "about.html"
    %li
      = link_to "Work", "work.html"
    %li
      = link_to "Dribbble", "//dribbble.com/mariusz"
    %li
      = link_to "Contact", "contact.html"
