.about {
  transition: background .25s $easing;
  background-color: #111F2C;
  background-position: bottom right;
  background-repeat: no-repeat;
  color: #fff;
  padding: ms(4);
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (min-width: 800px) {
    background-image: url("/images/photo.jpg");
    background-attachment: fixed;
  }

  @media only screen and (min-width: $bp-large) {
    min-height: 400px;
    height: 100vh;
  }

  .content {
    @include wrapper;
  }

  header {
    @extend .section-header;
  }

  h2 {
    color: #fff;
  }

  p {
    font-size: 1.25em;
    font-weight: 300;

    @include media($bp-small) {
      font-size: 1.5em;
    }
  }
  
  .description {
    @include span-columns(12);

    @include media($bp-medium) {
      @include span-columns(6);
    }
  }
}
