.dribbble {
  @include wrapper;

  margin-top: $base-font-size;
  padding-bottom: 50px;

  header {
    @extend .section-header;
  }

  .shots {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      flex: 0 1 100%;
      padding: 5px;
  
      @include media(401px) {
        flex-basis: 50%;
      }


      @include media(601px) {
        flex-basis: 33.3%;
        padding: 10px;
      }

      @include media(901px) {
        flex-basis: 25%;
      }
    }

    img {
      width: 100%;
    }
  }

  li {
    display: inline;
    margin: 0;
  }
}
