.dribbble {
  @include wrapper;

  margin-top: $base-font-size;
  padding-bottom: 50px;

  header {
    @extend .section-header;
  }

  .shots {
    list-style: none;
    padding: 0;

    li {
      @include span-columns(12);

      @media only screen and (min-width: 201px) {
        @include span-columns(6);

        &:nth-child(2n) {
          @include omega;
        }
      }
  
      @media only screen and (min-width: 401px) {
        @include span-columns(4);

        &:nth-child(2n) {
          @include span-columns(4);
        }

        &:nth-child(3n) {
          @include omega;
        }
      }


      @media only screen and (min-width: 601px) {
        @include span-columns(3);

        &:nth-child(2n) {
          @include span-columns(3);
        }

        &:nth-child(3n) {
          @include span-columns(3);
        }

        &:nth-child(4n) {
          @include omega;
        }
      }
    }

    img {
      width: 100%;
    }
  }

  li {
    display: inline;
    margin: 0;
  }
}
