.dribbble {
  @include container(90%);

  @media only screen and (min-width: 768px) {
    @include container(80%);
  }

  @media only screen and (min-width: 60em) {
    @include container(59em);
  }

  margin-top: $base-font-size;
  padding-bottom: 50px;

  header {
    @extend .section-header;
  }

  .shots {
    list-style: none;
    padding: 0;

    li {
      @include span(12);

      @media only screen and (min-width: 201px) {
        @include span(6 of 12);

        &:nth-child(2n) {
          @include last(6 of 12);
        }
      }
  
      @media only screen and (min-width: 401px) {
        @include span(4 of 12);

        &:nth-child(2n) {
          @include span(4 of 12);
        }

        &:nth-child(3n) {
          @include last(4 of 12);
        }
        
      }


      @media only screen and (min-width: 601px) {
        @include span(3 of 12);

        &:nth-child(2n) {
          @include span(3 of 12);
        }

        &:nth-child(3n) {
          @include span(3 of 12);
        }

        &:nth-child(4n) {
          @include last(3 of 12);
        }
      }
    }

    img {
      width: 100%;
    }
  }

  li {
    display: inline;
    margin: 0;
  }
}
