.contact-me {
  padding-bottom: 50px;

  header {
    @extend .section-header;
  }

  p {
    @include span-columns(10);
    @include shift(1);

    text-align: center;
    margin-bottom: 2em;

    @media only screen and (min-width: 600px) {
      font-size: ms(0);
    }
  }
}
