[role=banner] {
  margin-top: 50px;

  h1 {
    @include image-2x("logo.png", "logo@2x.png", 48px, 48px);

    display: block;
    margin: 0 auto;
    width: 48px;
    height: 48px;
    text-indent: -999em;
    position: relative;
    top: -25px;
  }
}
