[role=banner] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  @media only screen and (min-width: $bp-medium) {
    position: fixed;
  }

  h1 {
    float: left;

    a {
      @include image-2x("/images/logo.png", "/images/logo@2x.png", 48px, 48px);

      display: block;
      margin: 0 auto;
      width: 48px;
      height: 48px;
      text-indent: -999em;
    }
  }
}
