[role=banner] {
  margin-top: 50px;
  position: relative;

  h1 {
    position: relative;
    top: -25px;

    a {
      @include image-2x("/images/logo.png", "/images/logo@2x.png", 48px, 48px);

      display: block;
      margin: 0 auto;
      width: 48px;
      height: 48px;
      text-indent: -999em;
    }
  }
}
