nav, [role=navigation] {
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
}

[role=navigation] {
  flex: 1;

  ul {
    text-align: center;
    float: right;
  }

  li {
    display: inline;
    padding: 0 5px;

    @media only screen and (min-width: $bp-medium) {
      padding: 0 15px;
    }
  }

  a {
    transition: color .25s $easing;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .075em;
    display: inline-block;
    line-height: 100px;

    &:hover {
      color: $button-color;
    }
  }
}
