nav, [role=navigation] {
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
}

[role=navigation] {
  @include wrapper;

  ul {
    @include span-columns(12);

    text-align: center;

    @media only screen and (min-width: 600px) {
      @include span-columns(8);
      @include shift(2);
    }
  }

  li {
    display: inline;
    padding: 0 15px 40px;
  }

  a {
    transition: color .25s $easing;
    color: $text-color;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .075em;

    &:hover {
      color: $button-color;
    }
  }
}
