.skills {
  @include wrapper;
  padding: ms(6) 0;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $bp-large) {
    flex-direction: row;
  }
}

.skills-header {
  flex: 1;
  text-align: center;

  @media only screen and (min-width: $bp-large) {
    max-width: 200px;
    flex: 1 0 200px;
    text-align: left;
  }
}

.skills-list {
  @include wrapper;
  flex: 1;
  font-size: $base-font-size;
  list-style: none;
  padding: 50px 0;

  @media only screen and (min-width: $bp-large) {
    padding: 0;
    column-count: 2;
  }

  li {
    padding: 5px 0;
  }
}