$teaser-bg-color: $off-white;

.teaser {
  color: $white;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/images/background.jpg);

  .page {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: 800px) {
      padding-top: ms(8);
      padding-bottom: ms(10);
    }
  }

  h1 {
    font-weight: 300;
    line-height: 1.125;
    font-size: ms(1);

    @media only screen and (min-width: 40em) {
      font-size: ms(2);
    }
  }

  .design-and-build {
    font-size: 1.5em;
    display: block;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -.05em;

    @media only screen and (min-width: 40em) { 
      font-size: 2em;
    }
  }

  .amp {
    text-transform: none;
  }

  .actions {
    margin-top: 3em;
  }

  .or {
    margin-left: 1em;
    margin-right: 1em;
    font-family: $font-family-serif;
    font-weight: normal;
    font-style: italic;
  }
}

.teaser-button {
  font-size: 1.25em;
  display: block;
  margin-bottom: 2em;
  color: $white;
  border-color: $white;

  @media only screen and (min-width: 48em) {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 2em;
  }
}

.teaser-button--last {
  margin-right: 0;
}
