.teaser {
  color: $off-white;
  background: image-url("background.jpg");
  background-size: 100% 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;

  .page {
    padding-top: 5em;
    padding-bottom: 7em;

    @media only screen and (min-width: 800px) {
      padding-top: 8em;
      padding-bottom: 12em;
    }
  }

  .page h1, .actions {
    @include animation(reset 0, fade-in 1s ease-in);
  }

  h1 {
    @include animation-delay(0, 0);

    font-weight: 500;
    letter-spacing: -.05em;
    line-height: 1.1;
    font-size: ms(1);

    @media only screen and (min-width: 30em) {
      font-size: ms(2);
    }
  }

  .design-and-build {
    font-size: 1.5em;
    display: block;
    font-weight: bold;
    text-transform: uppercase;

    @media only screen and (min-width: 40em) { 
      font-size: 1.75em;
      letter-spacing: .05em;
    }
  }

  .actions {
    @include animation-delay(0, 0);

    margin-top: 1em;
    text-align: center;
  }

  .or {
    margin-left: 1em;
    margin-right: 1em;
    font-family: Georgia, sans-serif;
    font-weight: normal;
    font-style: italic;
  }
}
