.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 640px;

  .flickity-viewport {
    transition: height 0.2s $easing;
    padding-bottom: ms(4);
    box-sizing: content-box;
  }

  .page {
    width: 100%;
  }
}

.testimonials-header {
  @extend .section-header;
  padding: 0 0 ms(4);
}

.testimonials-person {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 20px;

  blockquote {
    font-family: "ff-tisa-web-pro", serif;
    font-style: italic;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-size: ms(0);

    @media only screen and (min-width: 40em) {
      font-size: ms(0);
    }
  }
}

.testimonials-person-meta {
  color: transparentize($white, 0.4);
  padding-top: 20px;

  @media only screen and (min-width: 40em) {
    font-size: 1.1em;
  }

  &:before {
    content: "— ";
  }

  a {
    color: lighten($text-color, 40%);

    &:hover {
      color: lighten($text-color, 60%);
    }
  }
}