.testimonials {
  padding: 50px 0 75px;
  background: $off-white;
  
  .flickity-viewport {
    transition: height 0.2s $easing;
    padding-bottom: 50px;
  }
}

.testimonials-header {
  @extend .section-header;
  padding: 0 0 50px;
}

.testimonials-slider {
  @include wrapper;
}

.testimonials-person {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 20px;

  blockquote {
    font-family: "garvis-pro", serif;
    font-style: italic;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-size: $base-font-size;

    @media only screen and (min-width: 40em) {
      font-size: ms(0);
    }
  }
}

.testimonials-person-meta {
  color: lighten($text-color, 40%);
  padding-top: 20px;

  @media only screen and (min-width: 40em) {
    font-size: 1.1em;
  }

  &:before {
    content: "— ";
  }

  a {
    color: lighten($text-color, 40%);

    &:hover {
      color: lighten($text-color, 60%);
    }
  }
}