.project-wrapper {
  @include wrapper;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;
  box-sizing: border-box;
  text-align: center;
  min-height: 300px;
  margin-bottom: 20px;
  background: $off-white;
  transition: background .2s $easing;

  @include media($bp-medium) {
    flex-basis: 50%;
  }

  h1, p {
    margin: 0;
  }

  a, a:hover {
    color: $text-color;
  }

  .project-meta--tiny {
    font-size: 1em;
    font-style: italic;
    color: transparentize($white, .2);
  }
}

.project--lifetramp {
  &:hover {
    background: #9ab531;
    color: $white;
    
    a, h1, p, a:hover {
      color: $white;
    }
  }
}

.project--home-eat-home {
  &:hover {
    background: #ca556a;
    color: $white;

    a, h1, p, a:hover {
      color: $white;
    }
  }
}