.project-wrapper {
  @include wrapper;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;
  box-sizing: border-box;
  text-align: center;
  min-height: 300px;
  margin-bottom: 20px;

  @include media($bp-medium) {
    flex-basis: 50%;
  } 

  &:hover {
    p {
      opacity: 1;
      height: auto;
    }
  }

  h1, p {
    margin: 0;
  }

  p {
    transition: opacity .5s $easing, height .25s $easing;
    opacity: 0;
    height: 0;
  }

  .project-meta--tiny {
    font-size: 1em;
    font-style: italic;
    color: transparentize($white, .2);
  }
}

.project--lifetramp {
  background: url('/images/work/lifetramp/bg.jpg');
  color: $white;

  a, h1, p {
    color: $white;
  }
}