.teaser
  = partial "layouts/header"

  .page
    %h1
      %span.design-and-build 
        Good design
      Making the world a better place, one pixel at a time.

    .actions
      = link_to "See my work", "#work", class: "button teaser-button"
