.teaser
  = partial "layouts/header"

  .page
    %h1
      My name is Mariusz and I
      %span.design-and-build 
        design
        %span.amp &amp;
        build
      web and mobile products

    .actions
      = link_to "See my work", "#work", class: "button teaser-button"
