.teaser
  .teaser-overlay#teaserOverlay
  = partial "layouts/header"

  .page
    %h1
      Hello, my name is Mariusz and I
      %span.design-and-build 
        solve problems
      with good design.

    .actions
      = link_to "See my work", "#work", class: "button teaser-button"
      = link_to "Hire me", "#contact", class: "button teaser-button teaser-button--last"
