.teaser
  .teaser-overlay
  = partial "layouts/header"

  .page
    %h1#teaserText
      %span.design-and-build
        So much more than pretty pixels.
      Hello. My name is Mariusz and I believe in solving business problems with good design.

    .actions
      = link_to "See my work", "#work", class: "button teaser-button"
      = link_to "Hire me", "#contact", class: "button teaser-button teaser-button--last"
