.teaser
  = partial "layouts/header"

  .page
    %h1
      %span.design-and-build 
        Design matters.
      My name is Mariusz and I design web and mobile interfaces that look and work great.

    .actions
      = link_to "See my work", "#work", class: "button teaser-button"
