%a#contact
.contact
  %header
    %h2 Get in touch

  %p Got an interesting project and would like to work on it with me?

  %p
    = link_to "Get in touch", "mailto:work@mariusz.cc", class: "button"
