#success.contact__popup.contact__success
  Thanks! I'll be in touch within the next couple of days.

#error.contact__popup.contact__error
  Whoops, there was a problem sending your form. Try again in a minute.

%form#contact{action: "https://formspree.io/xzravgyx", "accept-charset": "utf-8", method: "post"}
  %input{type: "text", name: "_gotcha", style: "display: none"}
  %p
    %label{for: "name"} Your name:
    %input{type: "text", name: "name", id: "name", required: "true", placeholder: "Awesome Person"}
  %p
    %label{for: "email"} Your email address:
    %input{type: "email", name: "email", id: "email", required: "true", placeholder: "email@awesome.person"}
  %p
    %label{for: "budget"} 
      Your budget:
      %span.hint if you're not sure, it's okay to just guesstimate
    %select{name: "budget", id: "budget"}
      %option{value: "equity"} low budget, but we can offer equity
      %option{value: "5-10k"} $5,000 - $20,000
      %option{value: "10-25k"} $10,000 - $20,000
      %option{value: "20-35k"} $20,000 - $35,000
      %option{value: "35k+"} $35,000+
  %p.long-text
    %label
      In a couple of words, what's your project about:
      %span.hint e.g. We recently got funded, we need a designer to help us redesign our MVP into a real product.
    %textarea{name: "description", id: "description", rows: "8", cols: "80", required: "true"}
  %p.actions
    %input#btn_contact_submit{type: "submit", value: "Let's do it!"}

= javascript_include_tag "contact" 