%form{action: "email.php", method: "post"}
  %p
    %label Your name
    %input{type: "text", name: "name", id: "name"}
  %p
    %label Your email
    %input{type: "email", name: "email", id: "email"}
  %p.long-text
    %label How can I help you?
    %textarea{rows: "20", cols: "80"}
