$base-font-size: 1.5rem;
$ms-base: $base-font-size;
$ms-ratio: $major-third;
$line-height: 1.5; 
$header-line-height: 1.25;
$font-family-sans: "mr-eaves-xl-modern", sans-serif;
$font-family-serif: "ff-tisa-web-pro", serif;

body {
  font-family: $font-family-sans;
  font-size: 100%;
  font-weight: 500;
  line-height: $line-height;

  // Fix fonts
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;

  // Ligatures
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
}

h1, h2, h3 {
  line-height: $header-line-height;
}

h1 {
  font-size: ms(2, $base-font-size, $ms-ratio);
}

h2 {
  font-size: ms(1, $base-font-size, $ms-ratio);
}

h3 {
  font-size: $base-font-size;
}

.amp {
  font-family: $font-family-serif;
  font-style: italic;
  font-weight: normal;
}
